<form>
  <h1>Add new product</h1>
  <div class="form-group">
    <label for="exampleInputEmail1">Product Name</label>
    <input type="text" class="form-control" name="name" [(ngModel)]="product.name">
    
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Price</label>
    <input type="text" class="form-control" name="name" [(ngModel)]="product.price">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Desc</label>
    <input type="text" class="form-control" name="name" [(ngModel)]="product.desc">
  </div>
   <div class="form-group">
    <label for="exampleInputEmail1">img</label>
    <input type="text" class="form-control" name="name" [(ngModel)]="product.img">
  </div>
<div class="form-group">
    <label for="exampleInputEmail1">Trạng thái(true or false)</label>
    <input type="text" class="form-control" name="name" [(ngModel)]="product.status">
  </div>

 
<!-- <div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="false" [(ngModel)]="product.status">
  <label class="form-check-label" for="exampleRadios2">
    Hết hàng
  </label>
</div> -->

  <button type="submit" class="btn btn-primary" (click)="addProduct()">Submit</button>
</form>
<br/>